---
layout: "layout"
---

- content_for(:title, project.name)

%h1= project.name

%table.project-facts
  %thead
    %tr
      %th{:colspan => "2"}
        %h2 Project Factsheet
  %tbody
    - project.factsheet.each_pair do |key, value|
      %tr
        %td #{key}:
        %td= value

%img{src: "/projects/#{project.tag}.png#img-wide", alt: "A screenshot of the web app", class: "img-wide"}

%h2= project.description_title
= simple_format project.description


- if blog.tags[project.tag].nil?
  %h2 There are no blog posts about this project
- else
  %h2 Blog posts about the project
  - blog.tags[project.tag].each do |article|
    %h3
      = link_to article.title, article
      %small - #{article.date.strftime('%e %b %Y')}
