!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
      Zequez -
      - content_for :title, current_page.data.title || ''
      = yield_content :title

    / = current_page.data.title || (defined?(project) && project.name)
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "all"
    %link(rel="icon" href="/favicon.ico?v=6" type="image/x-icon")
  %body{class: page_classes}
    .container
      %header.header
        %h1.author
          %a{href: '/'} Zequez
        %p.slogan Just a place to write about the stuff I make, do, think, and maybe eat
      %nav.sidebar#sidebar
        .sidebar-overlay#sidebar-overlay
        .sidebar-button#sidebar-button
        %section.sidebar-section
          %h1
            %a{href: '/projects'} Personal Projects
          %ul.projects-list
            - data.projects_list.each do |project|
              %li
                %a{href: "/projects/#{project.tag}"}
                  = project.name
                  %small (#{project.year})
          %h1
            %a{href: '/'} Blog posts
          %h1
            %a{href: '/about-me'} About me / Contact
      %main.main
        = yield
      %footer.footer
        %a{href: "/about-me"}
          Zequez
        %span.copy
          &copy;
        #{Time.now.year} - Kindly hosted by
        %a{href: "https://pages.github.com/"} Github pages
    = javascript_include_tag  "all"
