!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title
      Zequez -
      = current_page.data.title
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "all"
  %body{class: page_classes}
    .container
      %header.header
        %h1.author
          %a{href: '/'} Zequez
        %p.slogan A simple place to write about the stuff I make, do, and think
      %nav.sidebar#sidebar
        .sidebar-overlay#sidebar-overlay
        .sidebar-button#sidebar-button
        %section.sidebar-section
          %h1 Software Projects
          %ul
            %li
              %a{href: "/projects/factorio-mods"} Factorio Mods (database/manager)
            %li
              %a{href: "/projects/prismata-reddit-extension"} Prismata Reddit Extension
            %li
              %a{href: "/projects/playtime-for-the-buck"} Playtime For The Buck
            %li
              %a{href: "/projects/mapa-de-transporte"} Mapa de Transporte
        %section.sidebar-section
          %h1 Hardware Projects
          %ul
            %li 
              %a{href: "/projects/first-half-decent-arduino-thingy"} First half-decent Arduino thingy
            %li
              %a{href: "/projects/porta-herramientas"}
                Porta Herramientas
                %i.spanish-warning{title: "This post is in Spanish"} *
        %section.sidebar-section
          %h1
            %a{href: "#"} List of all the posts
        %section.sidebar-section
          %h1
            %a{href: "#"} About me / Contact
      %main.main
        = yield
      %footer.footer
        Copysomethings &copy; Ezequiel A. Schwartzman, Zequez #{Time.now.year}
    = javascript_include_tag  "all"
    / %aside
    /   %h2 Recent Articles
    /   %ol
    /     - blog.articles[0...10].each do |article|
    /       %li
    /         = link_to article.title, article
    /         %span= article.date.strftime('%b %e')
    /   %h2 Tags
    /   %ol
    /     - blog.tags.each do |tag, articles|
    /       %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
    /   %h2 By Year
    /   %ol
    /     - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
    /       %li= link_to "#{year} (#{articles.size})", blog_year_path(year)